html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

header.scrolled {
  background: #242651;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

nav.scrolled {
  background-color: #242651;
}

.logo img {
  max-height: 65px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #ed771e;
  color: white;
}

.nav-links .btn-contact {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-links .btn-contact:hover {
  background-color: #ed771e;
}

nav .logo img {
  display: none;
}

nav .logo .default-logo {
  display: block;
}

nav.scrolled .logo .scrolled-logo {
  display: block;
}

nav.scrolled .logo .default-logo {
  display: none;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  font-size: 30px;
  color: #242651;
  transition: color 0.3s ease;
}

nav.scrolled .hamburger-menu {
  color: white;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: currentColor;
  border-radius: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Active Hamburger State */
.hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links a {
    color: #242651;
    font-size: 1.2rem;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 95%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/new-bg-4.jpg") no-repeat center center/cover;
  color: white;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't cause overflow */
}

.home-container {
  display: flex;
  width: 90%;
  max-width: 2000px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.home-text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.home-text h1 {
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
  background: linear-gradient(
    90deg,
    #f0cc00,
    #ef8903,
    #ee3a43,
    #25a9e0,
    #1b75bb,
    #242651
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear forwards;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.home-text p {
  font-size: 2.2rem;
}

.home-statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Mobile Responsive Styles */
@media (max-width: 1024px) {
  #home {
    padding: 20px 10px; /* Adjust padding on smaller screens */
  }

  .home-text h1 {
    font-size: 3.5rem; /* Smaller font size for heading */
  }

  .home-text p {
    font-size: 1.8rem; /* Smaller font size for paragraph */
  }

  .home-statistics {
    flex-direction: row;
    gap: 30px;
  }

  .home-statistics .stat {
    font-size: 1.4rem; /* Adjust size of statistics */
  }
}

@media (max-width: 768px) {
  #home {
    height: auto; /* Remove 100vh on smaller screens to fit content */
  }

  .home-container {
    width: 100%; /* Full width for mobile devices */
    padding: 15px;
    gap: 10px;
    padding-top: 100px;
  }

  .home-text h1 {
    font-size: 2.5rem; /* Smaller heading font */
  }

  .home-text p {
    font-size: 1.6rem; /* Adjust paragraph font size */
  }

  .home-statistics {
    gap: 20px;
  }

  .home-statistics .stat {
    font-size: 1.2rem; /* Adjust stats size */
  }
}

@media (max-width: 480px) {
  .home-text h1 {
    font-size: 2rem; /* Smaller heading font for very small screens */
  }

  .home-text p {
    font-size: 1.4rem; /* Adjust paragraph font size further */
  }

  .home-statistics .stat {
    font-size: 1.1rem; /* Further decrease stat size */
  }
}


.stat {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff;
  flex: 1;
  min-width: 100px;
}

.stat h3 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.vertical-line {
  width: 2px;
  height: 80px;
  background: linear-gradient(to bottom, transparent, #ffffff, transparent);
  align-self: center;
}



.about-jeg {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.about-jeg-container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-jeg-title {
  font-size: 2.5em;
  color: #003366;
  margin-bottom: 20px;
}

.about-jeg-intro,
.about-jeg-description,
.about-jeg-history {
  font-size: 1.1em;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-jeg-milestones {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.about-jeg-milestones li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease, background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.about-jeg-milestones .icon {
  margin-right: 15px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-jeg-milestones .icon i {
  color: #003366;
  transition: color 0.5s ease;
}

.about-jeg-milestones .slicer {
  width: 1px;
  height: 100%;
  background-color: #003366;
  margin-right: 20px;
}

.about-jeg-milestones .text {
  flex-grow: 1;
  text-align: left;
  color: #333;
  transition: color 0.5s ease;
}

.about-jeg-milestones li:hover {
  background-color: #ed771e;
  box-shadow: 0 4px 15px rgba(255, 102, 0, 0.5);
}

.about-jeg-milestones li:hover .icon {
  background-color: transparent;
}

.about-jeg-milestones li:hover .icon i {
  color: #ffffff;
}

.about-jeg-milestones li:hover .text {
  color: #ffffff;
}

.about-jeg-milestones li.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    gap: 40px;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text p {
    font-size: 1.8rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links a {
    font-size: 16px;
    padding: 5px 15px;
  }

  .nav-links .btn-contact {
    font-size: 16px;
    padding: 8px 20px;
  }

  .home-statistics {
    flex-direction: row;
    gap: 20px;
  }

  .stat h3 {
    font-size: 2.5rem;
  }

  .stat p {
    font-size: 1.3rem;
  }

  .about-jeg-container {
    padding: 20px;
  }

  .about-jeg-title {
    font-size: 2em;
  }

  .about-jeg-intro,
  .about-jeg-description,
  .about-jeg-history {
    font-size: 1em;
    padding: 10px;
  }

  .about-jeg-milestones {
    grid-template-columns: 1fr;
  }
}

/* Very small devices */
@media (max-width: 480px) {
  .home-text h1 {
    font-size: 2.5rem;
  }

  .home-text p {
    font-size: 1.6rem;
  }

  .home-statistics {
    gap: 15px;
  }

  .stat h3 {
    font-size: 2rem;
  }

  .stat p {
    font-size: 1.2rem;
  }

  .about-jeg-title {
    font-size: 1.8em;
  }

  .about-jeg-intro,
  .about-jeg-description,
  .about-jeg-history {
    font-size: 0.9em;
  }
}


.divider-line {
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #ed771e, transparent);
  margin: 0 auto;
}

.footer {
  background-color: #242651;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 20px;
}

.footer-column img {
  max-height: 50px;
}

.footer-column h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-column p,
.footer-column ul {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-column .social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icon:hover {
  color: #25a9e0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #25a9e0;
}

.footer-column .subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column .subscribe-form input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
}

.footer-column .subscribe-form button {
  padding: 10px;
  border: none;
  background-color: #ed771e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
}

.footer-column .subscribe-form button:hover {
  background-color: #ed771e;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ed771e;
  color: white;
  border: none;
  padding: 10px 5px 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.back-to-top:hover {
  background-color: #ed771e;
}

.fas,
.fab {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    flex: none;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-column h1 {
    font-size: 1.2rem;
  }

  .footer-column p,
  .footer-column ul {
    font-size: 0.9rem;
  }

  .footer-column .subscribe-form input,
  .footer-column .subscribe-form button {
    max-width: 100%;
  }

  .footer-column .social-icons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-column .social-icons .social-icon {
    font-size: 1.2rem;
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
    font-size: 1.2rem;
    padding: 10px 5px 10px 15px;
  }
}

@media (max-width: 480px) {
  .footer-column h1 {
    font-size: 1rem;
  }

  .footer-column p,
  .footer-column ul {
    font-size: 0.85rem;
  }

  .footer-column .subscribe-form input,
  .footer-column .subscribe-form button {
    max-width: 100%;
  }

  .footer-column .social-icons .social-icon {
    font-size: 1rem;
  }

  .back-to-top {
    font-size: 1.1rem;
    padding: 10px 5px 10px 15px;
  }
}

#mission-vision {
  position: relative;
  background-color: #242651;
  color: white;
  overflow: hidden;
  padding: 60px 0;
}

.mission-vision-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.vision-mission-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
  color: white;
}

.vision h2,
.mission h2 {
  font-size: 5rem;
  color: #f77c00;
  margin-bottom: 10px;
}

.vision h3,
.mission h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.vision p,
.mission p {
  font-size: 1.9rem;
  line-height: 1.6;
}

.jeg-values-column {
  flex: 1;
  width: 35%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.jeg-values-column.show {
  opacity: 1;
  transform: translateY(0);
}

.jeg-values-title {
  font-size: 2.5rem;
  color: #ed771e;
  margin-bottom: 20px;
}

.jeg-values-container ul {
  list-style-type: none;
  padding: 0;
}

.jeg-values-container li {
  margin-bottom: 20px;
}

.jeg-values-container h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ed771e;
  margin-bottom: 10px;
}

.jeg-values-container p {
  font-size: 1.3rem;
  line-height: 1.6;
}

.jeg-values-container em {
  font-size: 1rem;
  color: #ed771e;
  display: block;
  margin-top: 20px;
}

.custom-vertical-line {
  width: 2px;
  height: 100vh;
  background: linear-gradient(to bottom, transparent, #ed771e, transparent);
  align-self: center;
  margin: 0 20px;
}

/* Mobile View: Make the line horizontal */
@media screen and (max-width: 768px) {
  .custom-vertical-line {
    width: 100%; /* Make it a full-width horizontal line */
    height: 2px; /* Set the height to 2px to make it horizontal */
    background: linear-gradient(to right, transparent, #ed771e, transparent); /* Gradient for horizontal line */
    margin: 20px 0; /* Adjust margins for horizontal line */
  }
}

.contact-section {
  position: relative;
  padding: 50px 20px;
  background-color: #242651;
  background-blend-mode: overlay;
}

.contact-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 100px;
  max-width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  animation: fadeInLeft 1s ease;
}

.contact-form {
  flex: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInRight 1s ease;
}

.contact-form h2 {
  text-align: center;
  color: #003366;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  color: #003366;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form .captcha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form .btn-submit {
  width: 100%;
  background: #ed771e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-form .btn-submit:hover {
  background: #ed771e;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content button {
  background: #003366;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .mission-vision-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .vision-mission-column {
    width: 100%;
  }

  .jeg-values-column {
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-image,
  .contact-form {
    flex: none;
    width: 100%;
    margin-bottom: 30px;
  }

  .jeg-values-column {
    width: 100%;
    margin-bottom: 30px;
  }

  .jeg-values-title {
    font-size: 2rem;
  }

  .jeg-values-container ul {
    padding-left: 20px;
  }

  .jeg-values-container h3 {
    font-size: 1.5rem;
  }

  .jeg-values-container p {
    font-size: 1.2rem;
  }

  .contact-form h2 {
    font-size: 1.5rem;
  }
}

/* Mobile View: Align all text to center */
@media screen and (max-width: 768px) {
  .mission-vision-container {
    flex-direction: column; /* Stack the columns vertically */
    align-items: center; /* Center the columns */
  }

  .vision-mission-column,
  .jeg-values-column {
    width: 100%; /* Take full width on mobile */
    text-align: center; /* Align text to center */
  }

  .jeg-values-column.show {
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Move to original position */
  }

  .jeg-values-title {
    font-size: 2.5rem;
    color: #ed771e;
    margin-bottom: 20px;
    text-align: center; /* Center the title */
  }

  .jeg-values-container h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #ed771e;
    margin-bottom: 10px;
    text-align: center; /* Center the heading */
  }

  .jeg-values-container p {
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center; /* Center the paragraph */
  }

  .jeg-values-container em {
    font-size: 1rem;
    color: #ed771e;
    display: block;
    margin-top: 20px;
    text-align: center; /* Center the em text */
  }

  .vision h2,
  .mission h2 {
    font-size: 3rem;
    color: #f77c00;
    margin-bottom: 10px;
    text-align: center; /* Center the headings */
  }

  .vision h3,
  .mission h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center the subheadings */
  }

  .vision p,
  .mission p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center; /* Center the paragraph */
  }
}

@media (max-width: 480px) {
  .vision h2,
  .mission h2 {
    font-size: 3rem;
  }

  .vision h3,
  .mission h3 {
    font-size: 2rem;
  }

  .vision p,
  .mission p {
    font-size: 1.4rem;
  }

  .jeg-values-title {
    font-size: 1.5rem;
  }

  .jeg-values-container li {
    font-size: 1rem;
  }

  .jeg-values-container p {
    font-size: 0.9rem;
  }

  .contact-form h2 {
    font-size: 1.2rem;
  }

  .contact-form .form-group input,
  .contact-form .form-group textarea {
    font-size: 1rem;
  }

  .contact-form .btn-submit {
    font-size: 12px;
  }
}


#our-services {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.services-container h2 {
  font-size: 2.5rem;
  color: #242651;
  margin-bottom: 20px;
}

.services-container .intro-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
  margin: 0 auto 80px auto;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.service-card {
  position: relative;
  background-color: #f2f4f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 50px 15px 20px 15px;
  text-align: center;
  width: 100%;
  max-width: 450px;
  transition: all 0.4s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.service-card .service-icon {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card img {
  width: 270px;
  height: 120px;
  margin-bottom: 15px;
  object-fit: contain;
  transition: transform 0.4s ease, filter 0.4s ease;
}

.service-card h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #242651;
}

.service-card p {
  font-size: 1rem;
  color: #242651;
  line-height: 1.8;
  margin-top: 0;
}

.service-card:nth-child(1) h3 {
  color: #92278f;
}

.service-card:nth-child(2) h3 {
  color: #0b9444;
}

.service-card:nth-child(3) h3 {
  color: #0f75bc;
}

.service-card:nth-child(1) .service-icon {
  background-color: #92278f;
}

.service-card:nth-child(2) .service-icon {
  background-color: #0b9444;
}

.service-card:nth-child(3) .service-icon {
  background-color: #0f75bc;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-color: #ef8903;
}

.service-card:hover img {
  transform: scale(1.1);
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  .services-container{
    padding-bottom: 50px;
  }

  .services-container h2 {
    font-size: 2rem;
  }

  .services-container .intro-text {
    font-size: 1rem;
    margin-bottom: 40px;
    max-width: 90%;
  }

  .service-card {
    padding: 40px 15px;
    width: 100%;
    max-width: 100%;
  }

  .service-card img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .services-container h2 {
    font-size: 1.8rem;
  }

  .services-container .intro-text {
    font-size: 0.9rem;
    margin-bottom: 75px;
    max-width: 100%;
  }

  .service-card {
    padding: 30px 10px;
    width: 100%;
  }

  .service-card h3 {
    font-size: 1.4rem;
  }

  .service-card p {
    font-size: 0.9rem;
  }
}
